**Importar librerías**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt
import seaborn as sns

**Leer archivo csv**

In [2]:
df = pd.read_csv("Ventas_totales.csv")
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

**Identificar valores nulos de cada columna**

In [4]:
nulos = df.isnull().sum()
nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [8]:
# Realizamos la copia del dataframe
df2 = df.copy()

**Primera sustitucion de valores nulos**

In [11]:
# Se usará la media aritmética para sustituir los valores nulos de la columna salon_ventas que tiene 6 valores vacíos
# y es una variable numérica
df2["salon_ventas"] = df2["salon_ventas"].fillna(round(df2["salon_ventas"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [10]:
# Convertimos dataframe a csv
df2.to_csv("Columna_Salon_Ventas.csv")

**Segunda sutitucion de valores nulos**

In [16]:
# Se usará la mediana para sustituir el úníco valor que hace falta en la columna tarjetas_debito
df2["tarjetas_debito"] = df2["tarjetas_debito"].fillna(round(df2["tarjetas_debito"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [17]:
# Convertimos dataframe a csv
df2.to_csv("Columna_tarjetas_debito.csv")

**Tercera sustitucion de valores nulos**

In [18]:
# Se usará un valor en específico para sustituir los valores nulos de la columna tarjeta_credito
df2["tarjetas_credito"] = df2["tarjetas_credito"].fillna(5621556.2)

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [20]:
# Convertimos dataframe a csv
df2.to_csv("Columna_tarjetas_credito.csv")

**Cuarta sustitucion de valores nulos**

In [21]:
# Se utilizará la sustitucion por valores hacia delante para susituir el único valor nulo de la columna otros_medios
df2["otros_medios"] = df2["otros_medios"].fillna(method = "ffill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\1905451438.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["otros_medios"] = df2["otros_medios"].fillna(method = "ffill")

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [22]:
# Convertimos dataframe a csv
df2.to_csv("Columna_otros_medios.csv")

**Quinta sustitucion de valores nulos**

In [23]:
# Se sustituira por media arimética para los valores nulos de la columna subtotal_ventas_alimentos_bebidas
df2["subtotal_ventas_alimentos_bebidas"] = df2["subtotal_ventas_alimentos_bebidas"].fillna(round(df2["subtotal_ventas_alimentos_bebidas"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [24]:
# Convertimos el dataframe a csv
df2.to_csv("Columna_subtotal_ventas_alimentos_bebidas.csv")

**Sexta sustitucion de valores nulos**

In [25]:
# Sustituiremos por backward fill para el único valor vacío de la comuna bebidas
df2["bebidas"] = df2["bebidas"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\1900614502.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["bebidas"] = df2["bebidas"].fillna(method = "bfill")

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [26]:
# Convertimos dataframe a csv
df2.to_csv("Columna_bebidas.csv")

**Séptima sustitución de valores nulos**

In [27]:
# Se sutituyo por un valor en particular para los datos vacíos de la columna almacen
df2["almacen"] = df2["almacen"].fillna(23468810.1)

df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [29]:
# Convertir dataframe a csv
df2.to_csv("Columna_almacen.csv")

**Octava sustitución de valores nulos**

In [31]:
# Se usará ffill para sustituir los valores hacia el valor delantero que se tenga en la columna panaderia
df2["panaderia"] = df2["panaderia"].fillna(method = "ffill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\1218449952.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["panaderia"] = df2["panaderia"].fillna(method = "ffill")

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [33]:
# Convertimos dataframe a csv
df2.to_csv("Columna_panaderia.csv")

**Novena sustitucion de valores nulos**

In [34]:
# Se usara la mediana para sustituir los valores nulos de la columna lacteos
df2["lacteos"] = df2["lacteos"].fillna(round(df2["lacteos"].median(),1))

#Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [35]:
# convertir dataframe a csv
df2.to_csv("Columna_lacteos.csv")

**Décima sustitucion de valores nulos**

In [36]:
# Se usará backward fill para sustituir los valores vacios de la columna carnes
df2["carnes"] = df2["carnes"].fillna(method = "bfill")

# Corroboramos los valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\3430628849.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["carnes"] = df2["carnes"].fillna(method = "bfill")

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [37]:
# Convertir dataframe a csv
df2.to_csv("Columna_carnes.csv")

**Onceava sustitucion de valores nulos**

In [39]:
# Se sustituira por media aritmética para los valores vacios de la columna verduleria_fruteria
df2["verduleria_fruteria"] = df2["verduleria_fruteria"].fillna(round(df2["verduleria_fruteria"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [40]:
# convertir dataframe a csv
df2.to_csv("Columna_verduleria_fruteria.csv")

**Doceava manera de sustituir valores nulos**

In [41]:
# Se utilizará un valor fijo para sustituir los valores nulos de la columna alimentos_preparados_rosticeria
df2["alimentos_preparados_rotiseria"] = df2["alimentos_preparados_rotiseria"].fillna(421356.8)

# Corroborar valores nulos
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [42]:
# Convertir dataframe a csv
df2.to_csv("Columna_alimentos_preparados_rostiseria.csv")

**Forma numero 13 de sustituir valores nulos**

In [44]:
# Se usó ffill para susituir los valores vacíos de la columna indumentaria_calzado_textiles_hogar
df2["indumentaria_calzado_textiles_hogar"] = df2["indumentaria_calzado_textiles_hogar"].fillna(method = "ffill")

# Corroborar valores vacíos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\3994833536.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["indumentaria_calzado_textiles_hogar"] = df2["indumentaria_calzado_textiles_hogar"].fillna(method = "ffill")

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [45]:
# Convertir dataframe a csv
df2.to_csv("Columna_indumentaria_calzado_textibles_hogar.csv")

**Forma número 14 de sustituir valores nulos**

In [47]:
# Se utilizó la media aritmética para sustituir los valores de la columna electronicos_articulos_hogar
df2["electronicos_articulos_hogar"] = df2["electronicos_articulos_hogar"].fillna(round(df2["electronicos_articulos_hogar"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  4
dtype: int64

In [48]:
# Convertir dataframe a csv
df2.to_csv("Columna_electronicos_articulos_hogar.csv")

**Forma número 15 de sustituir valores nulos**

In [49]:
# Sustituir usando backward fill para valores nulos de la columna otros
df2["otros"] = df2["otros"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10236\2951335175.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["otros"] = df2["otros"].fillna(method = "bfill")

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [51]:
# Convertir dataframe a csv
df2.to_csv("Columna_otros.csv")