**Importar librerías**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt
import seaborn as sns

**Leer archivo csv**

In [3]:
df = pd.read_csv('Berlin.csv', encoding = "MacRoman")
df

,id,last_scraped,name,description,neighborhood_overview,picture_url,host_name,host_since,host_about,host_response_time,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,reviews_per_month
0,5.704900e+04,18/09/2024,130 sqm with a view on Mauer Park,An apartment of 130 sqm right in the heart of ...,Prenzlauer Berg is no doubt one of the most my...,https://a0.muscache.com/pictures/miso/Hosting-...,Marine,14/11/2009,I'm french but I have been living in Berlin si...,within an hour,...,4.93,4.95,4.90,4.97,4.94,4.82,4.76,03/Z/RA/003544-18,f,0.80
1,5.878000e+04,18/09/2024,light quiet beautiful 4 room flat,We offer our 4 room apartment in Prenzlauer Be...,NaN,https://a0.muscache.com/pictures/caa048ba-e297...,Katja,08/11/2010,Designer who likes discovering the world,within a few hours,...,4.84,4.88,4.79,4.81,4.91,4.87,4.73,03/Z/RA/007133-22,f,0.43
2,6.261300e+04,18/09/2024,Super Apartment in Berlin/Kreuzberg,Our fantastic typical Berlin-style apartment i...,NaN,https://a0.muscache.com/pictures/176e2964-5ead...,Guidi,08/09/2010,"Hi , I am Elena and I am looking forward to ho...",within a few hours,...,4.70,4.68,4.65,4.82,4.82,4.94,4.47,02/Z/AZ/011099-19,f,0.20
3,6.401400e+04,18/09/2024,"Rooftop apt w/ a view, 2 bedrooms/bathrooms, s...","I am renting out my spacious, bright rooftop a...","Kastanienalle, Oderberger Strasse, Hackescher ...",https://a0.muscache.com/pictures/1135114/9db3c...,Stephan,08/12/2010,Ich mag sch√∂ne Dinge und Design. Wenn es euch...,within a day,...,4.75,4.63,4.50,4.94,4.63,4.88,4.40,01/Z/RA/016060-23,f,0.10
4,6.424500e+04,18/09/2024,Room w/ balcony and private bathroom in nice area,I¬¥m offering a guest room with balcony in my ...,"The neighborhood ""Prenzlauer Berg"" is centrall...",https://a0.muscache.com/pictures/miso/Hosting-...,Christian,07/12/2010,"Christian from Berlin\n\nHi, I¬¥m a 52 years o...",within a few hours,...,4.95,4.95,4.92,4.95,4.92,4.84,4.77,03/Z/AZ/006799-21,f,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11522,1.020000e+18,18/09/2024,Studio 40,This modern flat is located in the new Carlott...,"Charlottenburg in the western part of Berlin, ...",https://a0.muscache.com/pictures/miso/Hosting-...,Carlotta Apartments,24/10/2023,NaN,within an hour,...,5.00,5.00,4.91,4.82,5.00,5.00,4.45,Legal entity name and Legal form: Godebo GmbH ...,t,1.21
11523,1.020000e+18,18/09/2024,Garden Loft 80,This modern apartment is located in the new Ca...,"Charlottenburg in the western part of Berlin, ...",https://a0.muscache.com/pictures/miso/Hosting-...,Carlotta Apartments,24/10/2023,NaN,within an hour,...,4.83,5.00,5.00,4.83,5.00,4.83,4.67,Legal entity name and Legal form: Godebo GmbH ...,t,0.65
11524,1.020000e+18,18/09/2024,Extended Garden Loft 107,This modern flat is located in the new Carlott...,"Charlottenburg in the western part of Berlin, ...",https://a0.muscache.com/pictures/miso/Hosting-...,Carlotta Apartments,24/10/2023,NaN,within an hour,...,5.00,5.00,5.00,5.00,5.00,4.83,4.50,Legal entity name and Legal form: Godebo GmbH ...,t,1.84
11525,1.020000e+18,18/09/2024,Garden Loft 115,This modern apartment is located in the new Ca...,"Charlottenburg in the western part of Berlin, ...",https://a0.muscache.com/pictures/miso/Hosting-...,Carlotta Apartments,24/10/2023,NaN,within an hour,...,4.67,4.67,5.00,5.00,5.00,4.33,4.33,Legal entity name and Legal form: Godebo GmbH ...,t,0.94
11526,1.020000e+18,18/09/2024,Extended Garden Loft 139,This modern flat is located in the new Carlott...,"Charlottenburg in the western part of Berlin, ...",https://a0.muscache.com/pictures/miso/Hosting-...,Carlotta Apartments,24/10/2023,NaN,within an hour,...,4.97,4.97,5.00,4.94,4.97,4.85,4.85,Legal entity name and Legal form: Godebo GmbH ...,t,3.69

**Visualizar valores nulos de cada columna**

In [12]:
nulos = df.isnull().sum()
nulos

id                                 0
last_scraped                       0
name                               0
description                      624
neighborhood_overview           5035
picture_url                        0
host_name                          9
host_since                         9
host_about                      5287
host_response_time              4657
host_response_rate              4657
host_acceptance_rate            4173
host_is_superhost                119
host_listings_count                9
host_total_listings_count          9
host_verifications                 9
host_has_profile_pic               9
host_identity_verified             9
neighbourhood                   5035
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       4738
bathrooms_text                     5
bedrooms                        2036
beds                            4742
amenities                          0
price                           4738
minimum_nights                     0
maximum_nights                     0
calendar_updated               11527
has_availability                 861
availability_30                    0
availability_60                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
last_review                     2084
review_scores_rating            2084
review_scores_accuracy          2086
review_scores_cleanliness       2084
review_scores_checkin           2087
review_scores_communication     2085
review_scores_location          2087
review_scores_value             2089
license                         4636
instant_bookable                   0
reviews_per_month               2084
dtype: int64

**Realizamos la copia del dataframe**

In [13]:
df2 = df.copy()

**Sustituimos los valores nulos de la columna "Description"**

In [ ]:
# Se usará bfill para rellenar los valores nulos de la columna Description ya que son valores de texto
df2["description"] = df2["description"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

In [16]:
# Convertimos dataframe a csv
df2.to_csv("Columna_description.csv")

**Sustituimos los valores nulos de la columna "neighborhood_overview"**

In [17]:
# se usará el método ffill para rellenar los datos faltantes de la columna neighborhood_overview
df2["neighborhood_overview"] = df2["neighborhood_overview"].fillna(method = "ffill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2284\3967617117.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["neighborhood_overview"] = df2["neighborhood_overview"].fillna(method = "ffill")

id                                 0
last_scraped                       0
name                               0
description                        0
neighborhood_overview              0
picture_url                        0
host_name                          9
host_since                         9
host_about                      5287
host_response_time              4657
host_response_rate              4657
host_acceptance_rate            4173
host_is_superhost                119
host_listings_count                9
host_total_listings_count          9
host_verifications                 9
host_has_profile_pic               9
host_identity_verified             9
neighbourhood                   5035
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       4738
bathrooms_text                     5
bedrooms                        2036
beds                            4742
amenities                          0
price                           4738
minimum_nights                     0
maximum_nights                     0
calendar_updated               11527
has_availability                 861
availability_30                    0
availability_60                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
last_review                     2084
review_scores_rating            2084
review_scores_accuracy          2086
review_scores_cleanliness       2084
review_scores_checkin           2087
review_scores_communication     2085
review_scores_location          2087
review_scores_value             2089
license                         4636
instant_bookable                   0
reviews_per_month               2084
dtype: int64

In [18]:
# Convertimos dataframe a csv
df2.to_csv("Columna_neighborhood_overview.csv")

**Sustitucion de valores nulos de la columna "host_name"**

In [ ]:
# Se usará el método bfill para rellenar lso datos faltantes de la columna host_name
df2["host_name"] = df2["host_name"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

In [22]:
# Convertir dataframe a csv
df2.to_csv("Columna_host_name.csv")

**Sustituir valores nulos de la columna "host_since"**

In [ ]:
# Se usará un valor fijo para sustituir los valores nulos de la columna host_since
df2["host_since"] = df2["host_since"].fillna("14/11/2009")

# corroborar valores nulos
df2.isnull().sum()

In [24]:
# Convertir dataframe a csv
df2.to_csv("Columna_host_since.csv")

**Sustituir valores nulos de la columna "host_about"**

In [ ]:
# Se usará el metodo ffill para sustituir los valores nulos de la columna host_about
df2["host_about"] = df2["host_about"].fillna(method = "ffill")

#  Corroboramos valores nulos
df2.isnull().sum()

In [26]:
# Convertimos dataframe a csv
df2.to_csv("Columna_host_about.csv")

**Sustitucion de valores nulos de la columna "host_response_time"**

In [ ]:
# Se ocupará un valor fijo para sustituir los valores faltantes
df2["host_response_time"] = df2["host_response_time"].fillna("within a day")

# Corroboramos valores nulos
df2.isnull().sum()

In [28]:
# Convertir dataframe a csv
df2.to_csv("Columna_host_response_time.csv")

**Sustitucion de valores nulos de la columna "host_response_rate"**

In [ ]:
# Se sustituira usando el método bfill para sustituir los valores nulos de la columna
df2["host_response_rate"] = df2["host_response_rate"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

In [35]:
# Convertirmos dataframe a csv
df2.to_csv("Columna_host_response_rate.csv")

**Sustitucion de valores nulos de la columna "host_acceptance_rate"**

In [36]:
# Se usará el método ffill para sustituir los valores faltantes de la columna 
df2["host_acceptance_rate"] = df2["host_acceptance_rate"].fillna(method = "ffill")

# Corroboramos valores faltantes
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2284\1220829796.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["host_acceptance_rate"] = df2["host_acceptance_rate"].fillna(method = "ffill")

id                                 0
last_scraped                       0
name                               0
description                        0
neighborhood_overview              0
picture_url                        0
host_name                          0
host_since                         0
host_about                         0
host_response_time                 0
host_response_rate                 0
host_acceptance_rate               0
host_is_superhost                119
host_listings_count                9
host_total_listings_count          9
host_verifications                 9
host_has_profile_pic               9
host_identity_verified             9
neighbourhood                   5035
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       4738
bathrooms_text                     5
bedrooms                        2036
beds                            4742
amenities                          0
price                           4738
minimum_nights                     0
maximum_nights                     0
calendar_updated               11527
has_availability                 861
availability_30                    0
availability_60                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
last_review                     2084
review_scores_rating            2084
review_scores_accuracy          2086
review_scores_cleanliness       2084
review_scores_checkin           2087
review_scores_communication     2085
review_scores_location          2087
review_scores_value             2089
license                         4636
instant_bookable                   0
reviews_per_month               2084
dtype: int64

In [37]:
# Convertimos dataframe a csv
df2.to_csv("Columna_host_acceptance_rate.csv")

**Sustitucion de valores nulos de la columna "host_is_superhost"**

In [ ]:
# Se usara un valor en específico para sustituir los valores faltantes
df2["host_is_superhost"] = df2["host_is_superhost"].fillna("f")

# Corroboramos valores nulos
df2.isnull().sum()

id                                 0
last_scraped                       0
name                               0
description                        0
neighborhood_overview              0
picture_url                        0
host_name                          0
host_since                         0
host_about                         0
host_response_time                 0
host_response_rate                 0
host_acceptance_rate               0
host_is_superhost                  0
host_listings_count                9
host_total_listings_count          9
host_verifications                 9
host_has_profile_pic               9
host_identity_verified             9
neighbourhood                   5035
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       4738
bathrooms_text                     5
bedrooms                        2036
beds                            4742
amenities                          0
price                           4738
minimum_nights                     0
maximum_nights                     0
calendar_updated               11527
has_availability                 861
availability_30                    0
availability_60                    0
availability_365                   0
calendar_last_scraped              0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
last_review                     2084
review_scores_rating            2084
review_scores_accuracy          2086
review_scores_cleanliness       2084
review_scores_checkin           2087
review_scores_communication     2085
review_scores_location          2087
review_scores_value             2089
license                         4636
instant_bookable                   0
reviews_per_month               2084
dtype: int64

In [40]:
# Convertirmos dataframe a csv
df2.to_csv("Columna_host_is_superhost.csv")

**Sustitucion de valores nulos de la columna "host_listings_count"**

In [ ]:
# Se usará la media aritmética para sustituir los valores faltantes de la columna ya que es numérica
df2["host_listings_count"] = df2["host_listings_count"].fillna(round(df2["host_listings_count"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [45]:
# Convertimos dataframe a csv
df2.to_csv("Columna_host_listings_count.csv")

**Sustitucion de valores nulos de la columna "host_total_listings_count"**

In [46]:
# Se usará la mediana para sustituir los valores faltantes de la columna ya que son datos numéricos
df2["host_total_listings_count"] = df2["host_total_listings_count"].fillna(round(df2["host_total_listings_count"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [48]:
# Convertimos dataframe a csv
df2.to_csv("Columna_host_total_listings_count.csv")

**Sustitucion de valores nulos de la columna "host_verifications"**

In [50]:
# Se usará un valor en específico para sustituir los valores faltantes
df2["host_verifications"] = df2["host_verifications"].fillna("['email', 'phone']")

# Corroboramos valores nulos
df2.isnull().sum()

In [52]:
# Convertir dataframe a csv
df2.to_csv("Columna_host_verifications.csv")

**Sustitucion de valores nulos de la columna "host_has_profile_pic"**

In [ ]:
# Se usará un valor en específico para sustituir los valores faltantes
df2["host_has_profile_pic"] = df2["host_has_profile_pic"].fillna("t")

# Corroboramos valores nulos
df2.isnull().sum()

In [56]:
# Convertimos dataframe a csv
df2.to_csv("Colunma_host_has_profile_pic.csv")

**Sustitucion de valores nulos de la columna "host_identity_verified"**

In [57]:
# Se usará un valor en específico para sustituir los valores faltantes de la columna
df2["host_identity_verified"] = df2["host_identity_verified"].fillna("t")

# Corroboramos valores nulos
df2.isnull().sum()

In [59]:
# Convertimos dataframe a csv
df2.to_csv("Columna_host_identity_verified.csv")

**Sustitucion de valore nulos de la columna "neighbourhood"**

In [ ]:
# Se usará el método ffill para sustituir los valores faltantes de la columna
df2["neighbourhood"] = df2["neighbourhood"].fillna(method = "ffill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2284\3316336855.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["neighbourhood"] = df2["neighbourhood"].fillna(method = "ffill")

In [63]:
# Convertimos dataframe a csv
df2.to_csv("Columna_neighbourhood.csv")

**Sustitucion de valores nulos de la columna "bathrooms"**

In [ ]:
# Se usara la media aritmetica para sustituir los valores faltantes de la columna
df2["bathrooms"] = df2["bathrooms"].fillna(round(df2["bathrooms"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [67]:
# Convertimos dataframe a csv
df2.to_csv("Columna_bathrooms.csv")

**Sustitucion de valores nulos de la columna "bathrooms_text"**

In [68]:
# Se usara un valor en específico para sustituir los valores faltantes de la columna
df2["bathrooms_text"] = df2["bathrooms_text"].fillna("2 baths")

# Corroboramos valores nulos
df2.isnull().sum()

In [70]:
# Convertimos dataframe a csv
df2.to_csv("Columna_bathrooms_text.csv")

In [ ]:
# Se usara la mediana para sustituir los valores faltantes de la columna
df2["bedrooms"] = df2["bedrooms"].fillna(round(df2["bedrooms"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [74]:
# Convertimos dataframe a csv
df2.to_csv("Columna_bedrooms.csv")

**Sustitucion de valores nulos de la columna "beds"**

In [ ]:
# Se usará la media aritmética para sustituir los valores faltantes de la columna
df2["beds"] = df2["beds"].fillna(round(df2["beds"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [78]:
# Convertimos dataframe a csv
df2.to_csv("Columna_beds.csv")

**Sustitucion de valores nulos de la columna "price"**

In [81]:
# Se usará el método bfill para sustituir los valores faltantes de la columna
df2["price"] = df2["price"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2284\3247075504.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["price"] = df2["price"].fillna(method = "bfill")

In [83]:
# convertimos dataframe a csv
df2.to_csv("Columna_price.csv")

**Sustitucion de valores nulos de la columna "calendar_updated"**

In [89]:
# Se usará un valor en específico para sustituir los valores faltantes de la columna
df2["calendar_updated"] = pd.to_datetime(df2["calendar_updated"], errors = "coerce")
df2["calendar_updated"] = df2["calendar_updated"].fillna("2019-05-20")

# Corroboramos valores nulos
df2.isnull().sum()

In [91]:
# Convertimos dataframe a csv
df2.to_csv("Columna_calendar_updated.csv")

**Sustitucion de valores nulos en la columna "has_availability"**

In [93]:
# Se usará el método ffill para sustituir los valores faltantes de la columna
df2["has_availability"] = df["has_availability"].fillna(method = "ffill")

# Corroboramos valores nulos
df2.isnull().sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_2284\923724780.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2["has_availability"] = df["has_availability"].fillna(method = "ffill")

In [95]:
# Convertimos dataframe a csv
df2.to_csv("Columna_has_availability.csv")

**Sustitucion de valores nulos en la columna "last_review"**

In [ ]:
# Se sustituiran los valores nulos por un valor en específico
df2["last_review"] = df2["last_review"].fillna("01/01/2024")

# Corroboramos valores nulos
df2.isnull().sum()

In [99]:
# Convertimos dataframe a csv
df2.to_csv("Columna_last_review.csv")

**Sustitucion de valores nulos de la columna "review_scores_rating"**

In [100]:
# Se usará la mediana para sustituir los valores faltantes de la columna
df2["review_scores_rating"] = df2["review_scores_rating"].fillna(round(df2["review_scores_rating"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [102]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_rating.csv")

**Sustitucion de valores nulos de la columna "review_scores_accuracy"**

In [103]:
# Se usará la media aritmetica para susituir los valores faltantes
df2["review_scores_accuracy"] = df2["review_scores_accuracy"].fillna(round(df2["review_scores_accuracy"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [105]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_accuracy.csv")

**Sustitucion de valores nulos de la columna "review_scores_cleanliness"**

In [106]:
# Se usará un valor fijo para sustituir los valores flatantes de la columna
df2["review_scores_cleanliness"] = df2["review_scores_cleanliness"].fillna(4.9)

# Corroboramos valores nulos
df2.isnull().sum()

In [108]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_cleanliness.csv")

**Sustitucion de valores nulos de la columna "review_scores_checkin"**

In [109]:
# Se usará la mediana para susituir los vcalores faltantes de la columna
df2["review_scores_checkin"] = df2["review_scores_checkin"].fillna(round(df2["review_scores_checkin"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [111]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_checkin.csv")

**Sustitucion de valores nulos de la columna "review_scores_communication"**

In [112]:
# Se usará la media arimética para sustituir los valores faltantes de la columna
df2["review_scores_communication"] = df2["review_scores_communication"].fillna(round(df2["review_scores_communication"].mean(),1))

# Corroboramos valores nulos
df2.isnull().sum()

In [114]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_communication.csv")

**Sustitucion de valores nulos de la columna "review_scores_location"**

In [115]:
# Se usará un valor en específico para sustituir los valores faltantes
df2["review_scores_location"] = df2["review_scores_location"].fillna(4.8)

# Corroboramos valores nulos
df2.isnull().sum()

In [117]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_location.csv")

**Sustitucion de valore nulos de la columna "review_scores_value"**

In [118]:
# Se usará un valor en específico para sustituir los datos faltantes de la columna
df2["review_scores_value"] = df2["review_scores_value"].fillna(4.9)

# Corroboramos valores nulos
df2.isnull().sum()

In [120]:
# Convertimos dataframe a csv
df2.to_csv("Columna_review_scores_value.csv")

**Sustitucion de valores nulos de la columna "license"**

In [ ]:
# Se usará el método bfill para reemplazar los valores faltantes
df2["license"] = df2["license"].fillna(method = "bfill")

# Corroboramos valores nulos
df2.isnull().sum()

In [123]:
# Convertimos dataframe a csv
df2.to_csv("Columna_license.csv")

**Sustitucion de valores nulos de la columna "reviews_per_month"**

In [126]:
# Se usará la mediana para reemplazar los valores faltantes
df2["reviews_per_month"] = df2["reviews_per_month"].fillna(round(df2["reviews_per_month"].median(),1))

# Corroboramos valores nulos
df2.isnull().sum()

id                             0
last_scraped                   0
name                           0
description                    0
neighborhood_overview          0
picture_url                    0
host_name                      0
host_since                     0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_listings_count            0
host_total_listings_count      0
host_verifications             0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood                  0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
calendar_updated               0
has_availability               0
availability_30                0
availability_60                0
availability_365               0
calendar_last_scraped          0
number_of_reviews              0
number_of_reviews_ltm          0
number_of_reviews_l30d         0
last_review                    0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
license                        0
instant_bookable               0
reviews_per_month              0
dtype: int64

In [127]:
# Convertimos dataframe a csv
df2.to_csv("Columna_reviews_per_month.csv")